
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-body">
          <div class=" typography-line">
            <span> Lists </span>
            <div class=" row">
              <div class=" col-md-8">
                <div class=" card">
                  <div class=" card-header">
                    <h4 class=" card-title">Visa Management</h4>
                  </div>
                  <div class=" card-body">
                    <div class=" table-responsive">
                      <table class=" table tablesorter" id="">
                        <thead class=" text-primary">
                          <tr>
                            <th>Last Modified Date</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>View</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>2020-11-12T10:10:20</td>
                            <td>I20</td>
                            <td>COMPLETE</td>
                            <td><button>Detail</button></td>
                          </tr>
                          <tr>
                            <td>2020-11-12T10:10:20</td>
                            <td>I983</td>
                            <td>Pending</td>
                            <td><button>Download</button></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class=" col-md-4">
                <div class=" card">
                  <div class=" card-header">
                    <h4 class=" card-title">Notification states</h4>
                  </div>
                  <div class=" card-body">
                    <ngb-alert [type]="'success'" *ngIf="!staticAlertClosed5" [dismissible]="false">
                      <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close" (click)="staticAlertClosed5 = true">
                        <i class="tim-icons icon-simple-remove"></i>
                      </button>
                      <span>
                        <b> Success - </b> I-20 confirmed by Hr
                      </span>
                    </ngb-alert>
                    <ngb-alert [type]="'warning'" *ngIf="!staticAlertClosed6" [dismissible]="false">
                      <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close" (click)="staticAlertClosed6 = true">
                        <i class="tim-icons icon-simple-remove"></i>
                      </button>
                      <span>
                        <b> Warning - </b> Please download and fill I983 ASAP
                      </span>
                    </ngb-alert>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
